#mobile-menu.open {
    max-height: 500px; /* Set based on content height */
    opacity: 1;
  }
.video {
object-fit: cover;
position: absolute;
z-index: -1;
opacity: 50%;
}
.video-con {
   position: relative;
   background-color: #fff1;
   background-blend-mode: overlay;
   
}
@media print {
  *{
    background-color: white;
    box-shadow: none;
    color: black;
  }
}